@model IEnumerable<string>

@{
    ViewBag.Title = "AllEmployees";
}

<h2>All Employees</h2>

@using (Html.BeginForm())
{
    <p>
        Employees:
        @Html.DropDownList("employeeNames", (SelectList) ViewBag.employeeNames, "Select employee", new
        {
            onchange = @"var dropDownList = document.getElementById('employeeNames');
            var selectedEmployeeId = dropDownList.options[dropDownList.selectedIndex].value;
            window.location = 'Edit/' + selectedEmployeeId;"
        })
    </p>
}